/*This is a weekend project assigned by the instructors at General Assembly's Web Development Immersive course in San Francisco.

This project is to have us, the students, create a Tic-Tac-Toe game with the use of Bootstrap and present it to the class on Monday 10/31/16.

Since I am currently unfamiliar with Bootstrap, you will find notations all throughout the code.

This is to serve as a point of reference for me when I return and am required to explain my work to my fellow classmates or instructors.

LEGEND:
DF = Default. The code given to me at the start of the assignment.*/
html {

}

body {
  /*background-color: red;*/
  /*pre-flight check*/
  background: url("/Users/MartinUriarte/wdi/wip/tic-tac-toe/Assets/etchASketch.jpg") no-repeat center center fixed;
  background-size: 100% 122%;
  background-position-y: center;
}

h1 {
  margin-top: 3.5%;
  margin-bottom: 3.5%;
  color: rgba(209,144,61,1);
}

.btn {
  /*position: center;*/
  /*right: 52%;
  left: 48%;*/
  /*margin-top: 20px;*/
}
/*.row1:after {
  float: left;
  display: inline-block;
}

.row2:after {
  /*float: left;*/
/*}*/

/*.row3:after {
  /*float: left;
}*/

.row4 {
  /*border: 1px solid black;*/
  margin-top: 43%;
  padding-left: 17%;
}
/*.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}*/

#board {
  margin-top: 10px;
}

#lawfulGood {
  height: 150px;
  border-right: 3px solid #A9A9A9;
}

#neutralGood {
  height: 150px;
}

#chaoticGood {
  height: 150px;
  border-left: 3px solid #A9A9A9;
}

#lawfulNeutral {
  height: 150px;
  border-top: 3px solid #A9A9A9;
  border-bottom: 3px solid #A9A9A9;
}

#trueNeutral {
  height: 150px;
  border: 3px solid #A9A9A9;
}

#chaoticNeutral {
  height: 150px;
  border-top: 3px solid #A9A9A9;
  border-bottom: 3px solid #A9A9A9;
}

#lawfulEvil {
  height: 150px;
  border-right: 3px solid #A9A9A9;
}

#neutralEvil {
  height: 150px;
}

#chaoticEvil {
  height: 150px;
  border-left: 3px solid #A9A9A9;
}

/*All lines to look crooked, like an etch a sketch*/
