/*This is a weekend project assigned by the instructors at General Assembly's Web Development Immersive course in San Francisco.

This project is to have us, the students, create a Tic-Tac-Toe game with the use of Bootstrap and present it to the class on Monday 10/31/16.

Since I am currently unfamiliar with Bootstrap, you will find notations all throughout the code.

This is to serve as a point of reference for me when I return and am required to explain my work to my fellow classmates or instructors.

LEGEND:
DF = Default. The code given to me at the start of the assignment.*/


body {
  /*background-color: red;*/
  /*pre-flight check*/
  background-image:"/Users/MartinUriarte/wdi/wip/tic-tac-toe/Assets/etchASketch.jpg"
}

.box { /*DF*/ /*DF stands for Default*/
  border: 1px solid black;
  height: 150px;
}

.col-md-4 {
  border: 1px solid black;
}

.col-md-6 {
  border: 1px solid black;
}

.col-md-12 {
  border: 1px solid black;
}

.container {
  border: 1px solid black;
}

.row {
  border: 1px solid black;
}

/*.row1:after {
  float: left;
  display: inline-block;
}

.row2:after {
  /*float: left;*/
/*}*/

/*.row3:after {
  /*float: left;*/
/*}

.resetBtn {
  margin: 2em auto 0 auto 2em;
  border: 1px solid black;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}*/

#board {
  margin-top: 10px;
}
